<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

<mat-sidenav-container class="example-container">
    <mat-sidenav class="sample-sidenav" #sidenav mode="over">
        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">Item 3</mat-list-item>
          </mat-list>
    </mat-sidenav>
  
      
    <mat-sidenav-content>
        <div class="header">
            <button mat-button class="menu-button" (click)="sidenav.toggle()"><mat-icon class="menu-icon">menu</mat-icon></button>
            <div class="title"><h2>MADesign</h2></div>
        </div>
        <mat-card class="card-class">
            <mat-card-header></mat-card-header>
            <mat-card-content class="avatar-card">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>First Name</mat-card-title>
                            <mat-card-subtitle>Last Name</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content class="info">
                            <p>Address</p>
                            <p>CityState</p>
                            <p>Zipcode</p>
                        </mat-card-content>
                        <mat-card-actions class="card-actions">
                            <button mat-raised-button color="primary">Edit</button>
                            <button mat-button color="primary">Save</button>
                        </mat-card-actions>
                        <p>
                            <span class="mat-badge" matBadge="4" matBadgeOverlap="false">Notifications!</span>
                        </p>
                    </mat-card>
            </mat-card-content>
            <mat-card-content class="stepper-card">
                  <mat-vertical-stepper [linear]="isLinear" #stepper>
                    <mat-step [stepControl]="firstFormGroup">
                      <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Fill out your name</ng-template>
                        <mat-form-field>
                          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                        </mat-form-field>
                        <div>
                          <button mat-button matStepperNext>Next</button>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup">
                      <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Fill out your address</ng-template>
                        <mat-form-field>
                          <input matInput placeholder="Address" formControlName="secondCtrl" required>
                        </mat-form-field>
                        <div>
                          <button mat-button matStepperPrevious>Back</button>
                          <button mat-button matStepperNext>Next</button>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step>
                      <ng-template matStepLabel>Done</ng-template>
                      You are now done.
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                      </div>
                    </mat-step>
                  </mat-vertical-stepper>
            </mat-card-content>
            <mat-card-content class="avatar-card">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>First Name</mat-card-title>
                            <mat-card-subtitle>Last Name</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content class="info">
                            <p>Address</p>
                            <p>CityState</p>
                            <p>Zipcode</p>
                        </mat-card-content>
                        <mat-card-actions class="card-actions">
                            <button mat-raised-button color="primary">Edit</button>
                            <button mat-button color="primary">Save</button>
                        </mat-card-actions>
                        <p>
                            <span class="mat-badge" matBadge="4" matBadgeOverlap="false">Notifications!</span>
                        </p>
                    </mat-card>
            </mat-card-content>
            <mat-card-content class="avatar-card">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>First Name</mat-card-title>
                            <mat-card-subtitle>Last Name</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content class="info">
                            <p>Address</p>
                            <p>CityState</p>
                            <p>Zipcode</p>
                        </mat-card-content>
                        <mat-card-actions class="card-actions">
                            <button mat-raised-button color="primary">Edit</button>
                            <button mat-button color="primary">Save</button>
                        </mat-card-actions>
                        <p>
                            <span class="mat-badge" matBadge="4" matBadgeOverlap="false">Notifications!</span>
                        </p>
                    </mat-card>
            </mat-card-content>
            <mat-card-content class="stepper-card">
                  <mat-progress-spinner
                    class="example-margin"
                    [color]="color"
                    [mode]="mode"
                    [value]="value">
                 </mat-progress-spinner>
                <h2 class="example-h2">Progress spinner configuration</h2>
          
                <section class="example-section">
                  <label class="example-margin">Color:</label>
                  <mat-radio-group [(ngModel)]="color">
                    <mat-radio-button class="example-margin" color="primary" value="primary">
                      Primary
                    </mat-radio-button>
                    <mat-radio-button class="example-margin" color="primary" value="accent">
                      Accent
                    </mat-radio-button>
                    <mat-radio-button class="example-margin" color="primary" value="warn">
                      Warn
                    </mat-radio-button>
                  </mat-radio-group>
                </section>
            
                <section class="example-section">
                  <label class="example-margin">Mode:</label>
                  <mat-radio-group [(ngModel)]="mode">
                    <mat-radio-button class="example-margin" color="primary" value="determinate">
                      Determinate
                    </mat-radio-button>
                    <mat-radio-button class="example-margin" color="primary" value="indeterminate">
                      Indeterminate
                    </mat-radio-button>
                  </mat-radio-group>
                </section>
            
                <section class="example-section" *ngIf="mode == 'determinate'">
                  <label class="example-margin">Progress:</label>
                  <mat-slider class="example-margin" color="primary" [(ngModel)]="value"></mat-slider>
                </section>
              </mat-card-content>
            </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>