.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width:100vh;
  }
  
  .example-radio-group {
    display: block;
    border: 1px solid #555;
    margin: 20px;
    padding: 10px;
  }

  .header{
    position: relative;
    min-height:5vh;
    background-color: rgb(56, 86, 82);
  }

  .card-class{
      min-height: 90vh;
      min-width: 100vh;
      position: relative;
      z-index: 1;
      background-color: #cfd6d5;
  }
  
  .sidenav-content{
      min-width:100%;
  }

  .menu-button{
      float:left;
      min-height: 5vh;
  }