.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width:100vh;
  }
  
  .example-radio-group {
    display: block;
    border: 1px solid #555;
    margin: 20px;
    padding: 10px;
  }

  .header{
    position: relative;
    min-height:5vh;
    background-color: rgb(77, 77, 182);
  }

  .card-class{
      min-height: 90vh;
      position: relative;
      z-index: 1;
  }
  
  .sidenav-content{
      min-width:100%;
  }

  .menu-button{
      float:left;
      min-height: 5vh;
  }

  .menu-icon {
      color:white;
  }

  h2{
    color: white;
    margin: 0px;
    vertical-align:middle;
    padding:1vh;
    font-family: 'Abel', sans-serif;
  }

  .title{
      min-height:5vh;
  }
  
  .example-full-width {
    width: 100%;
  }

  .avatar-card{
      width:50%;
      margin:0;
  }

  .stepper-card{
      position: absolute;
      display: inline !important;
  }

  .example-card{
      min-width: 50%;
      display:inline-block;
      margin-right:5%;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-badge{
      display:inline-flex;
      float: right;
  }

  .card-actions{
      display:inline-flex;
      float:left;
      margin: 0;
      padding:0;
  }

  p{
      text-align: center;
  }

  .mat-card-content{
      display:inline;
  }

  mat-progress-spinner{
      margin-left: 25%;
  }

  .sample-sidenav{
      width: 30vh !important;
  }